@charset "UTF-8"
body{
    background-color:darkblue;
}
h1{
color: b;background-color: lightpink;
}
h2{
color: black;background-color: white;
}
p{
color: red
font-family: 'Times New Roman', Times, serif;font-size: 26px;
}
a{
    font-size: 30px;
 font-family: 'Times New Roman', Times, serif;
 text-align: right;
}
 